.home{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    margin: 3em;
}

.home-img{
    margin: auto 0;
    width: 25%;
    box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}

@keyframes myAnimation{
    from{
        width: 15%;
    }
    to{
        width: 25%;
    }
}    

.home-img{
    animation-name: myAnimation;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
