.header{
    display: flex;
    width: 100%;
    min-height: 30px;
    height: auto;
    justify-content: space-between;
    padding: auto;
    margin: 0;
}

.header-items{
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 2em;
}

.nav{
    background-color: var(--color-secondary);
    display: flex;
    width: 100%;
    min-height: 30px;
    height: auto;
    justify-content: space-around;
    padding: 1em;
    color: var(--color-light);
}

.title{
    padding: 1em 1em 0 1em;
    margin: 1em auto 0.5em 1em;
}

.description{
    padding: 0em 1.25em;
    margin: 0em auto 0.5em 1em;
    font-size: 1.75em;
}

a:hover{
    font-size: 1.5em;
    font-weight: 800;
}

a:link{
    font-size: 1.2em;
    font-weight: 500;
}

a:visited{
    color: var(--color-dark);
}

.logo{
    width: 200px;
    padding-bottom: 1em;
}

.footer {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--color-light);
}

.footer-items{
    padding: auto 2em;
    margin: auto 5em;
    list-style: none;
    font-weight: 500;
    font-size: 1.25em;
}