.filtered-kategorie{
    max-width: 1000px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 2em 0 3em 5em;
    gap: 20px;
}

.filtered-kategorie-card{
    width: 20em;
    height: 90%;
    margin: 1em auto 3em;
    border: solid 0.5px var(--color-secondary);
    border-radius: 5px;  

    box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
    display: block;
    transition-duration: 1s;
    border: solid 1px var(--color-light);

}

.filtered-kategorie-card h3{
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
}